<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndnu.springboot.mapper.UserMapper">

    <resultMap id="pageUser" type="com.ndnu.springboot.entity.User">
        <result column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="department" property="department" />
        <result column="create_time" property="createTime" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role" property="role" />
        <collection property="courses" javaType="java.util.ArrayList" ofType="com.ndnu.springboot.entity.Course">
            <result column="teacherCourseName" property="name" />
            <result column="teacherScore" property="score" />
        </collection>
        <collection property="stuCourses" javaType="java.util.ArrayList" ofType="com.ndnu.springboot.entity.Course">
            <result column="stuCourseName" property="name" />
            <result column="stuScore" property="score" />
        </collection>
    </resultMap>

    <select id="findPage" resultMap="pageUser">
        select * FROM sys_user
        <if test="account != null and account != ''">
            where account like concat('%', #{account} ,'%')
        </if>

    </select>

</mapper>
